@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdmin";
}
@using FcRoomBooking.Models.Domain
@model List<RoomBooking>
<div class="col-lg-12 d-flex flex-column grid-margin stretch-card bg-white p-4 rounded relative">
    <div>
        <span style="font-size:20px; font-weight:bold">Booking</span>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Room Name
                    </th>
                    <th>
                        Book By
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Detail
                    </th>
                    <th>
                        From
                    </th>
                    <th>
                        To
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @no
                        </td>
                        <td>
                            @item.Room.RoomName
                        </td>
                        <td>
                            @item.ApplicationUser.UserName
                        </td>
                        <td>
                            @item.Subject
                        </td>
                        <td>
                            @item.Detail
                        </td>
                        <td>
                            @item.BookingFrom
                        </td>
                        <td>
                            @item.BookingTo
                        </td>
                        <td>
                            @{
                                if(item.BookingStatus == "Active")
                                {
                                    <div class="badge badge-primary badge-pill">@item.BookingStatus</div>
                                }
                                else if(item.BookingStatus == "Ongoing")
                                {
                                    <div class="badge badge-success badge-pill">@item.BookingStatus</div>
                                }
                                else if(item.BookingStatus == "Finish")
                                {
                                    <div class="badge badge-info badge-pill">@item.BookingStatus</div>
                                }
                                else
                                {
                                    <div class="badge badge-danger badge-pill">@item.BookingStatus</div>
                                }
                            }
                        </td>
                        <td>
                            <a class="btn btn-outline-info p-2" asp-controller="RoomBooking" asp-action="Participant" asp-route-id="@item.Id">Participant</a>
                        </td>
                    </tr>
                    no++;
                }
            </tbody>
        </table>

    </div>
</div>


