@{
    Layout = "_LayoutAdmin";
}
@using FcRoomBooking.Models.ViewModel
@model List<ParticipantViewModel>
<div class="col-lg-12 d-flex flex-column grid-margin stretch-card bg-white p-4 rounded relative">
    <div>
        <span style="font-size:20px; font-weight:bold">Booking</span>
        <button class="btn btn-outline-success float-right" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Invite</button>
        <button class="btn btn-outline-primary float-right mr-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">Send Email</button>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int no = 1;
                }
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @no
                            </td>
                            <td>
                                @item.Username
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                <a class="btn btn-outline-danger p-2" asp-controller="MyBooking" asp-action="Remove" asp-route-url="@item.RoomBookingId" asp-route-id="@item.userId">Remove</a>
                            </td>
                        </tr>
                        no++;
                    }

                }
                else
                {

                }

            </tbody>
        </table>

    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Invite Participant</h5>
                <button type="button" class="btn p-0" style="font-size:25px!important" data-bs-dismiss="modal">
                    <span class="mdi mdi-close" ></span>
                </button>
            </div>
            <form asp-controller="MyBooking" asp-action="PostParticipant" method="post" asp-route-id="@ViewBag.BookingId">

                <div class="modal-body">
                    <label for="exampleInputUsername1">Participant</label>
                    <select class="form-control selectList" name="ParticipantId" multiple asp-items="@ViewBag.partList" required>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Invite</button>
                </div>
            </form>


        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Email</h5>
                <button type="button" class="btn p-0" style="font-size:25px!important" data-bs-dismiss="modal">
                    <span class="mdi mdi-close" ></span>
                </button>
            </div>
            <form asp-controller="MyBooking" asp-action="SendEmail" asp-route-id="@ViewBag.BookingId" method="post">
                <div class="modal-body">
                    <label for="exampleInputUsername1">Subject</label>
                    <input type="text" class="form-control" name="Subject" required>
                    <label for="exampleInputUsername1">Detail</label>
                    <input type="text" class="form-control" name="Detail" required>

            @*<form asp-controller="MyBooking" asp-action="PostParticipant" method="post" asp-route-id="@ViewBag.BookingId">
                <div class="modal-body">
                    Are you sure you want to send email to all the participants?*@
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>


        </div>
    </div>
</div>
<style>
    .chosen-container{
    display:flex !important;
    }

    .jq-toast-wrap{
        width:350px;
    }
</style>

<partial name="_ChosenPartial" />
@{
    if (TempData["isInvited"] != null) {
        <script>
            $.toast({
            text: "Invite Successfully!", 
            heading: 'Invite Participant', // Optional heading to be shown on the toast
            icon: 'success', // Type of toast icon
            showHideTransition: 'fade', // fade, slide or plain
            allowToastClose: true, // Boolean value true or false
            hideAfter: 2000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
            stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
            position: 'top-center', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
            textAlign: 'left',  // Text alignment i.e. left, right or center
            });
        </script>
    }
    if (TempData["isRemoved"] != null)
    {
        <script>
            $.toast({
            text: "Remove Successfully!", // Text that is to be shown in the toast
            heading: 'Remove Participant', // Optional heading to be shown on the toast
            icon: 'success', // Type of toast icon
            showHideTransition: 'fade', // fade, slide or plain
            allowToastClose: true, // Boolean value true or false
            hideAfter: 1000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
            stack: 2, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
            position: 'top-center', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
            textAlign: 'left',  // Text alignment i.e. left, right or center
            loader: true,  // Whether to show loader or not. True by default
            loaderBg: '#9EC600',  // Background color of the toast loader
            });
        </script>
    }
    if (TempData["Dupe"] != null)
    {
        
        <script>
            $.toast({
                text: "<strong>@{@TempData["Dupe"]}</strong> is already on the list!", // Text that is to be shown in the toast
                heading: 'Duplication User', // Optional heading to be shown on the toast
                icon: 'error', // Type of toast icon
                showHideTransition: 'fade', // fade, slide or plain
                allowToastClose: true, // Boolean value true or false
                hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                stack: 2, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                position: 'top-center', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                textAlign: 'left',  // Text alignment i.e. left, right or center
                loader: true,  // Whether to show loader or not. True by default
                loaderBg: '#9EC600',  // Background color of the toast loader
                width:'500px',
               
            });
        </script>
    }
}



